@font-face {
  font-family: 'iconfont';  /* project id 1699992 */
  src: url('//at.alicdn.com/t/font_1699992_ayvhnyxqy2e.eot');
  src: url('//at.alicdn.com/t/font_1699992_ayvhnyxqy2e.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1699992_ayvhnyxqy2e.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1699992_ayvhnyxqy2e.woff') format('woff'),
  url('//at.alicdn.com/t/font_1699992_ayvhnyxqy2e.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1699992_ayvhnyxqy2e.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconyiliao:before {
  content: "\e602";
}

.iconbofang:before {
  content: "\e60f";
}

.iconbofang1:before {
  content: "\e607";
}

.iconzanting:before {
  content: "\e680";
}

.iconkefu:before {
  content: "\e74d";
}

.iconfanhui:before{
  content: "\e641";
}

